.LogInButton {
    margin: 1vh 0;
    padding: 0 8vw;
    color: #B29F7E;
    background: inherit;
    border: 1px solid #B29F7E;
    border-radius: 5px;
    cursor: pointer;
}

.SingnUpButton {
    margin: 1vh 5vmax 1vh 0;
    padding: 0 8vw;
    background: #B29F7E;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}