.dealsTable {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(65vh, 1fr));
    gap: 3vh 3vw;
    justify-content: center;
    justify-items: center;
}

.deal>img {
    max-width: 30vw;
}