.login {
    background: url(../../images/background.png) 0 0 no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description {
    font-size: 28px;
}

.formBox {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: flex-end;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40vmax;
    margin-right: 3vh;
}

.form :not(:last-child) {
    margin-bottom: 2vh;
}

.signInButton {
    background: #B29F7E;
    color: white;
    width: 100%;
    cursor: pointer;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.forgotPassword {
    color: #B29F7E;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.forgotPassword>p {
    cursor: pointer;
}


.forgotPassword:hover {
    text-decoration: underline;
}

.form>input {
    padding: 15px;
    border: none;
    border-radius: 5px;
}

input {
    background: #E0E0E0;
    width: -webkit-fill-available;
}

.signUp {
    color: #B29F7E;
    cursor: pointer;
}

.signUp:hover {
    text-decoration: underline;
}

.account {
    font-size: 14px;
    display: flex;
    width: inherit;
    justify-content: space-evenly;
}

label {
    font-size: 14px;
}